{#
Variaables:

  conference: the conference (NodeInterface)
#}

<div class="conference-info">
  {% if api_url|default(false) %}
    <dl>
      <dt>{{ 'Api url'|trans }}</dt>
      <dd><a href="{{ api_url }}">{{ api_url }}</a></dd>
    </dl>
  {% endif %}
</div>
